/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

/* Variables */

/* Primary */
:root {
  --CTA-text: hsl(356, 100%, 66%);
  --CTA-hover-background: hsl(355, 100%, 74%);
  --headings: hsl(208, 49%, 24%);

  /* Neutral */

  --text: hsl(0, 0%, 100%);
  --footer-text: hsl(240, 2%, 79%);
  --body-copy: hsl(207, 13%, 34%);
  --footer-background-: hsl(240, 10%, 16%);

  /* Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --grad-1: hsl(13, 100%, 72%);
  --grad-2: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --grad-3: hsl(237, 17%, 21%);
  --grad-4: hsl(237, 23%, 32%);

  /* Font Vars */
  --ff-primary: "Ubuntu", sans-serif;
  --ff-secondary: "Overpass", sans-serif;
}

/* Global styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--ff-secondary);
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo, .icon) {
  width: 100%;
}
img {
  display: block;
}

/* Challenge */

/* Hero */
.hero {
  width: 100%;
  height: 600px;
  background-image: url(./images/bg-pattern-intro-mobile.svg),
    linear-gradient(135deg, var(--grad-1), var(--grad-2));
  background-size: 350%, 100%;
  background-repeat: no-repeat;
  background-position: 35% 34%, 0% 0%;
  border-bottom-left-radius: 100px;
  padding: 5.7rem 2.5rem 0 2.5rem;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 3.3rem;
}
.nav-toggle {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.hero-text-wrapper {
  /* border: 1px solid yellow; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 11rem;
}
.hero-text-wrapper h1 {
  font-size: 3.4rem;
  text-align: center;
  font-weight: 600;
}
.hero-text-wrapper h1 span {
  display: block;
}
.hero-text-wrapper p {
  font-weight: 300;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 1.3rem;
}
.btn-wrapper {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 4.5rem;
  width: 95%;
}
.btn {
  height: 4.8rem;
  width: 13.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-primary);
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 5rem;
}
.btn-primary {
  background-color: white;
  color: var(--CTA-text);
}
.btn-primary:hover {
  background-color: var(--CTA-hover-background);
  color: white;
}
.btn-secondary {
  border: 1px solid white;
  color: white;
}
.btn-secondary:hover {
  background-color: white;
  color: var(--CTA-hover-background);
}

/* Section */

.section {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10.2rem 2.5rem 0 2.5rem;
  overflow: hidden;
}
.section h2 {
  color: var(--headings);
  font-size: 2.6rem;
  font-weight: 600;
}
.img-editor {
  /* border: 1px solid green; */
  margin-top: 7.8rem;
  margin-bottom: 4rem;
  transform: scale(1.25);
}
.img-container .img-editor-desktop,
.img-container .img-laptop-desktop {
  display: none;
}
/* .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.text-block {
  border: 1px solid transparent;
}
.text-block h3 {
  color: var(--headings);
  font-size: 2.8rem;
  margin-top: 4.2rem;
  line-height: 3.2rem;
}
.text-block h3 span {
  display: block;
}
.text-block p {
  margin-top: 2.5rem;
  font-size: 1.7rem;
  color: var(--body-copy);
  line-height: 2.8rem;
}
.img-laptop {
  /* border: 1px solid green; */
  margin-top: 7.8rem;
  margin-bottom: 6rem;
  transform: scale(1.52);
  overflow: hidden;
}

.empty {
  /* border: 1px solid yellowgreen; */
  position: relative;
  width: 100%;
  height: 16rem;
  margin-top: 7rem;
}
.img-phones {
  position: absolute;
  max-width: 400px;
}

.section-2 {
  background-image: url(./images/bg-pattern-circles.svg),
    linear-gradient(var(--grad-3), var(--grad-4));
  background-size: 163%, 100%;
  background-position: 50% -1950%, 0% 0%;
  background-repeat: no-repeat;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 62.48rem;
}
.section-2 .text-block h3 {
  color: white;
  margin-top: auto;
}
.section-2 .text-block p {
  color: white;
}
.section-3 {
  padding: 5rem 2.5rem 12rem 2.5rem;
}

/* Footer */

.footer {
  background-color: var(--footer-background-);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7.5rem 0;
  border-top-right-radius: 100px;
}

.footer img {
  margin-bottom: 3.6rem;
}

.footer h4 {
  color: white;
  font-size: 2rem;
  margin-top: 4.5rem;
  margin-bottom: 2.5rem;
}

.footer a {
  color: var(--footer-text);
  font-size: 1.7rem;
  padding: 0.5rem;
}

.footer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-container {
  width: 100%;
  display: grid;
  place-items: center;
}
.img-container img {
  max-width: 500px;
}
/* Menu */
.menu {
  /* border: 1px solid blue; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  transition: all 0.3s ease-in-out;
  z-index: 100;
}

/* Menu Script */
.menu-hide {
  left: 100vw;
  opacity: 0;
}
.nav-toggle {
  transition: all 0.5s ease-in-out;
}
.hamburger-hide {
  opacity: 0;
}
/* Menu Script End*/

.menu .btn-close {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 86%;
  cursor: pointer;
}
.menu .btn-close img {
  width: unset;
}

.menu-wrapper {
  background-color: white;
  width: 87%;
  /* height: 100px; */
  margin-top: 4rem;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.1), 0px 20px 30px rgb(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 2.5rem 3rem 2.5rem;
}
.menu-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-items {
  width: 100%;
  cursor: pointer;
}

.menu-items h4 {
  color: var(--headings);
  font-size: 1.7rem;
  padding: 1.4rem 0;
  cursor: pointer;
}
.menu-items:hover h4 {
  color: var(--footer-text);
}

.menu-items h4:hover .sub-menu {
  display: flex;
}
.sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(239, 239, 231);
  border-radius: 5px;
  width: 100%;
  padding: 1.4rem;
  display: none;
}
.sub-menu:last-of-type {
  margin-bottom: 2rem;
}
.sub-menu-shown .sub-menu {
  display: flex;
}
.sub-menu-shown .arrow {
  transform: rotate(180deg);
}

.sub-menu a {
  display: block;
  color: rgb(75, 88, 98);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}
.sub-menu a:hover {
  color: var(--headings);
}
.arrow {
  margin-left: 1rem;
}
.menu-btn-wrapper {
  border-top: 1px solid rgb(239, 239, 231);
  /* margin-top: 2.4rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-login {
  color: var(--headings);
  font-family: var(--ff-secondary);
  margin-top: 1.8rem;
  font-size: 1.7rem;
}
.btn-login:hover {
  background-color: var(--footer-background-);
  color: white;
}
.btn-signup {
  background-image: linear-gradient(75deg, var(--grad-1), var(--grad-2));
  color: white;
  margin-top: 0.4rem;
  font-size: 1.5rem;
}
.btn-signup:hover {
  background-image: none;
  border: 1px solid var(--CTA-hover-background);
  color: var(--CTA-hover-background);
}
.menu-items-wrapper {
  width: 100%;
}

/* Desktop version */

@media screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
  .menu-hide {
    left: 0;
    opacity: 1;
  }
  .menu .btn-close {
    display: none;
  }
  .menu {
    /* border: 1px solid blue; */
    position: static;
    width: 100%;
    height: auto;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 0;
  }
  .menu-wrapper {
    /* border: 1px solid yellow; */
    background-color: unset;
    width: 95%;
    /* height: 100px; */
    margin-top: 0;
    border-radius: 5px;
    box-shadow: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* margin-right: 5rem; */

    padding: 0;
  }
  .menu-items-wrapper {
    width: 120%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 5rem; */
    /* flex-grow: 1; */
    min-width: 350px;
    flex-shrink: 1.8;
  }
  .menu-items-wrapper h4 {
    color: white;
    opacity: 0.75;
  }
  .menu-items {
    position: relative;
  }
  .menu-items:hover h4 {
    color: white;
    opacity: 1;
    text-decoration: underline;
  }
  .arrow {
    filter: brightness(200%);
    opacity: 0.75;
  }
  .menu-items:hover .arrow {
    opacity: 1;
  }
  .sub-menu {
    position: absolute;
    align-items: flex-start;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) 0px 20px 30px
      rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 1rem;
    width: 100%;
  }
  .sub-menu a:hover {
    font-size: 1.6rem;
  }
  .menu-btn-wrapper {
    border: none;

    /* margin-top: 2.4rem; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    /* flex-grow: 5; */
  }
  .btn-login {
    color: white;
    font-family: var(--ff-secondary);
    margin: 0;
    font-size: 1.7rem;
  }
  .btn-login:hover {
    background-color: var(--footer-background-);
    color: white;
  }
  .btn-signup {
    background-color: white;
    background-image: none;
    color: var(--CTA-text);
    margin: 0;
    font-size: 1.5rem;
  }
  .btn-signup:hover {
    color: white;
    background-color: var(--CTA-hover-background);
    /* border: 1px solid var(--CTA-hover-background); */
  }
  /* Hero */
  .hero {
    background-size: 220%, 100%;
    background-position: 25% 52%, 0% 0%;
  }
  .hero h1 {
    font-size: 6rem;
  }
  .hero h1 span {
    display: initial;
  }
  .hero-text-wrapper p {
    font-size: 2rem;
  }
  .btn-wrapper {
    justify-content: center;
    gap: 1.5%;
  }

  /* Section */
  .section {
    position: relative;
    overflow: hidden;
    padding: 15.5rem 10rem 22rem 10rem;
  }
  .img-editor,
  .img-laptop {
    display: none;
  }
  .img-container .img-editor-desktop,
  .img-container .img-laptop-desktop {
    max-width: none;
    display: block;
    position: absolute;
    left: 58%;
    top: 10%;
  }

  .section h2 {
    font-size: 4rem;
  }
  .text-block {
    width: 60%;
    text-align: left;
  }
  .text-block h3 {
    margin-top: 10.5rem;
  }
  .text-block h3 span {
    display: initial;
  }
  .content-wrapper {
    align-items: flex-start;
  }

  .section-2 {
    align-items: flex-end;
    height: 40rem;
    background-size: 70%, 100%;
    background-position: -48% 81%, 0% 0%;
  }
  .section-2 .content-wrapper {
    width: 49%;
  }
  .text-block-phones {
    text-align: left;
    width: 100%;
  }
  .empty {
    position: relative;
  }
  .img-phones {
    position: absolute;
    max-width: 500px;
    width: 40%;
    height: auto;
    z-index: 1;
  }
  .text-block-phones h3 {
    font-size: 3.8rem;
    margin-top: 8rem;
  }
  .section-3 .content-wrapper {
    display: flex;
    align-items: flex-end;
  }
  .section-3-text-block {
    width: 100%;
  }
  .img-container .img-laptop-desktop {
    position: absolute;
    left: -19%;
    top: 12%;
    display: block;
  }
  /*
        FOOTER
    */
  .footer {
    flex-direction: row;

    align-items: flex-start;

    justify-content: space-between;
    padding-left: 15rem;
    padding-right: 35rem;
  }
  .footer h4 {
    margin-top: 0;
  }
  .footer-block {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1064px) {
  .hero {
    padding: 5.7rem 17rem 0 17rem;
  }
  .section {
    padding: 15.5rem 17rem 22rem 17rem;
  }
  .text-block {
    /* width: 48%; */
    text-align: left;
  }
  .section-1-text-block {
    width: 48%;
  }
  .empty {
    height: 4rem;
  }
  .img-phones {
    z-index: 1;
    top: -11rem;
    left: 12rem;
  }
  .text-block-phones {
    text-align: left;
    width: 100%;
  }
  section-2 {
  }
  /*
    MIDDLE SECTION
    */
}
